

.list-item {
    .avatar-div {
        .avatar{
        background-color: $main-color;
        border-radius: 30px;
        width: 40px;
        height: 40px;
        color: #ffffff;
        text-align:center;
        font-size: 1.3em;
        padding-top: 10px;
        
        }
    }
    .client-info {
        margin-left: -1em !important;
        h5 {
            margin: 0px;
            font-size: 1.1em;
            color: darken($main-color, 45%);
        }
        p {
            font-size: 0.8em;
            color: #b7b7b7;
        }
    }
    .list-buttons.icon {
        span { 
            color: $main-color;
            opacity: 0.7;   
            &:last-child {
                margin-top: 0.1em;
                margin-left: 0.5em;
                padding-right:0.3em;
            }
        }
    }
    .button-main-color {
        background-color: lighten($main-color, 20%) !important;
        color: #fff !important;
    }
}