<ion-view view-title="Clients" class="clients">
    <ion-nav-buttons side="right">
        <button ui-sref="newClient" class="button"><i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search.name">
        </label>
        <ion-list can-swipe="vm.listCanSwipe" >
            <ion-item class="list-item" ng-repeat="client in vm.clients | filter:search.name">
                <div class="row item-icon-right">
                    <div class="col-25 avatar-div">
                        <div class="avatar">
                        <span ng-if="client.name">{{vm.clientInitials(client.name) | uppercase}}</span>                       <span ng-if="!client.name">{{client.firstName | limitTo:1 | uppercase}}{{client.lastName | limitTo:1 | uppercase}}</span>
                        
                        </div>
                    </div>
                    <div class="col-50 client-info" ui-sref="clientDetails({userId: vm.user.$id, clientId: client.$id }) ">
                        <h5>{{client.name}}{{client.firstName}} {{client.lastName}}</h5>
                        <p>{{client.pet}}</p>
                    </div>
                    <div class="col-35 list-buttons icon">
                    <a href="http://maps.google.com/?q={{ client.street }} {{client.city }} {{client.state}} {{client.zip }}"><span class=" ion-ios-navigate-outline"></span></a> &nbsp;
                    <a  href="tel: {{client.phone }}"><span class=" ion-ios-telephone-outline"></span></a>
                    </div>
                    <ion-option-button class="button button-main-color" ui-sref="newVisit({userId: vm.user.$id, clientId: client.$id }) ">
                        Add Visit
                    </ion-option-button>
                </div>
            </ion-item>
        </ion-list>
        <p ng-click="vm.logout()">Logout</p>
    </ion-content>
</ion-view>