<ion-view view-title="New Visit" class="new-visit">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="vm.sendEmail()">Done</i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col-80 col-offset-10 client-pet-name">
                <h4>{{vm.clientData.name}}{{vm.clientData.firstName}}</h4>
                <p>{{vm.clientData.pet}}</p>
            </div>
            <div class="col-10 avatar-div">
                <div class="avatar">{{}}</div>
            </div>
        </div>
        <div class="list visit-list">
            <label class="item item-input">
                <span class="input-title">Email</span>
                <input type="text" ng-model="vm.clientData.email">
            </label><!--email-->
            <li class="item item-toggle">
                <div class="first-toggle-item" style="padding-top: 0.5em;">
                    <p class="input-title">Fresh Food and Water</p>
                    <span class="input-label">Food</span>
                    <label class="toggle toggle-energized food-toggle">
                        <input type="checkbox" ng-model="vm.food">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label><!--food-->
                </div>
                <span class="input-label toggle-label">Water</span>
                <label class="toggle toggle-energized toggle-food">
                    <input type="checkbox" ng-model="vm.water">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label><!--water-->
            </li><!--item-toggle-->
            <label class="item item-input item-select">
                <span class="input-title">Play Time or Walk Duration</span>
                <select ng-model="vm.play">
                    <option value="N/A">N/A</option>
                    <option value="5 Minutes">5 Minutes</option>
                    <option value="10 Minutes">10 Minutes</option>
                    <option value="15 Minutes">15 Minutes</option>
                    <option value="20 Minutes">20 Minutes</option>
                    <option value="25 Minutes">25 Minutes</option>
                    <option value="30 Minutes">30 Minutes</option>
                </select>
            </label><!--play time or walk Duration-->
            <li class="item item-toggle">
                <div class="first-toggle-item" style="padding-top: 0.5em;">
                    <p class="input-title">Treats</p>
                    <span class="input-label" ng-if="vm.treats">Yes</span>
                    <span class="input-label" ng-if="vm.treats === false">No</span>
                    <label class="toggle toggle-energized food-toggle">
                        <input type="checkbox" ng-model="vm.treats">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div><!--treats-->
            </li><!--item-toggle-->
            <label class="item item-input item-select">
                <span class="input-title">Medications</span>
                <select ng-model="vm.meds">
                    <option value="N/A">N/A</option>
                    <option value="Yes">Yes</option>
                </select>
            </label><!--medications-->
            <li class="item item-toggle">
                <div class="first-toggle-item" style="padding-top: 0.5em;">
                    <p class="input-title">Miscelaneous Tasks</p>
                    <span class="input-label">Cleaned Up Pet Mess</span>
                    <label class="toggle toggle-energized food-pet-mess">
                        <input type="checkbox" ng-model="vm.mess">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label><!--pet mess-->
                </div>
                <div>
                    <span class="input-label toggle-label">Packages/Mail Moved Inside</span>
                    <label class="toggle toggle-energized toggle-food">
                        <input type="checkbox" ng-model="vm.mail">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label><!--packages/mail-->
                </div>
                <div>
                    <span class="input-label toggle-label">Watered Plants</span>
                    <label class="toggle toggle-energized toggle-plants">
                        <input type="checkbox" ng-model="vm.plants">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label><!--plants-->
                </div>
                <div>
                    <span class="input-label toggle-label">Other(See Message)</span>
                    <label class="toggle toggle-energized toggle-other">
                        <input type="checkbox" ng-model="vm.other">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label><!--other-->
                </div>
            </li><!--item-toggle-->   
            <label class="item item-input">
                <span class="input-title">Message</span>
                <textarea maxlength="280" rows="5"></textarea> 
            </label>
        </div><!--list-->
    </ion-content>
    <ion-tabs class="tabs-default tabs-icon-top">

        <ion-tab title="Check In" icon="ion-ios-location-outline">
        <!-- Tab 1 content -->
        </ion-tab>

        <ion-tab title="Camera" icon="ion-ios-camera-outline">
        <!-- Tab 2 content -->
        </ion-tab>

        <ion-tab title="Track Walk" icon="ion-map">
        <!-- Tab 3 content -->
        </ion-tab>

    </ion-tabs>
</ion-view>