<ion-view view-title="New Visit" class="new-visit">
    <ion-content>
        <div class="row">
            <div class="col-80 col-offset-10 client-pet-name">
                <h4>Carolina Powers</h4>
                <p>Missy and Brody</p>
            </div>
            <div class="col-10 avatar-div">
                <div class="avatar">CP</div>
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-title">Email</span>
                <input type="text">
            </label><!--email-->
            <li class="item item-toggle">
                <div class="first-toggle-item" style="padding-top: 0.5em;">
                    <p class="input-title">Fresh Food and Water</p>
                    <span class="input-label">Food</span>
                    <label class="toggle toggle-energized food-toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label><!--food-->
                </div>
                <span class="input-label toggle-label">Water</span>
                <label class="toggle toggle-energized toggle-food">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label><!--water-->
            </li><!--item-toggle-->
            <label class="item item-input item-select">
                <span class="input-title">Play Time or Walk Duration</span>
                <select>
                    <option>Option 1</option>
                    <option selected>Option 2</option>
                    <option>Option 3</option>
                </select>
            </label><!--play time or walk Duration-->
            <li class="item item-toggle">
                <div class="first-toggle-item" style="padding-top: 0.5em;">
                    <p class="input-title">Treats</p>
                    <span class="input-label" ng-if="vm.yesTreat">Yes</span>
                    <span class="input-label" ng-if="vm.yesTreat === false">No</span>
                    <label class="toggle toggle-energized food-toggle">
                        <input type="checkbox" ng-model="vm.yesTreat">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
        </div><!--list-->
    </ion-content>
</ion-view>