.new-visit {
    .row {
        padding-top: 2em;
        .client-pet-name {
            h4 {
                margin: 0px;
                font-size: 1.1em;
                color: darken($main-color, 45%);
            }
            p {
                font-size: 0.8em;
                color: #b7b7b7;
            }
        }
        .avatar-div {
            .avatar{
                background-color: $main-color;
                border-radius: 30px;
                width: 40px;
                height: 40px;
                color: #ffffff;
                text-align:center;
                font-size: 1.3em;
                padding-top: 10px;
                margin-left: -2em;
            }
        }    
    }
    .list {
         li.item.item-toggle { 
                padding-bottom: 1em !important;
        }
        .item {
     
            .input-title {
                padding-top: 0.3em;
                color: gray;
                font-size: 0.8em;
                position: absolute;
                top: 0;
            }
            label.toggle.toggle-energized.toggle-food {
                top: 53px;
            }
           
            .toggle {
               margin-top: 1.03em;
            }
            
            .toggle-label {
                display: inline-block;
                margin-top: 0.6em;
            }
        }
    }
}