.new-visit {
    .row {
        padding-top: 2em;
        padding-bottom: 1em;
        .client-pet-name {
             margin-left: 0.7em;
            h4 {
                margin: 0px;
                font-size: 1.5em;
                color: darken($main-color, 45%);
               
            }
            p {
                font-size: 1em;
                color: #b7b7b7;
            }
        }
        .avatar-div {
            margin-top: -0.4em;
            .avatar{
                background-color: $main-color;
                border-radius: 30px;
                width: 50px;
                height: 50px;
                color: #ffffff;
                text-align:center;
                font-size: 1.5em;
                padding-top: 13px;
            }
        }    
    }
    .list {
        li.item.item-toggle { 
                padding-bottom: 1em !important;
        }
        .item.item-input{
            padding-top: 12px;
            padding-bottom: 12px;
        }
        .item.item-select {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .item {    
            .input-title {
                padding-top: 0.3em;
                color: gray;
                font-size: 0.8em;
                position: absolute;
                top: 0;
            }
            label.toggle.toggle-energized.toggle-food {
                top: 53px;
            }
           
            .toggle {
               margin-top: 1.03em;
            }
            
            .toggle-label {
                display: inline-block;
                margin-top: 0.6em;
            }
        }
    }
}