<client-field field-value="clientData.email" field-title="inputTitle.email"></client-field>
<client-field field-value="clientData.phone" field-title="inputTitle.phone"></client-field>
<client-field field-value="clientData.streetAddress" field-title="inputTitle.streetAddress"></client-field>
<client-field field-value="clientData.city" field-title="inputTitle.city"></client-field>
<client-field field-value="clientData.state" field-title="inputTitle.state"></client-field>
<client-field field-value="clientData.zipCode" field-title="inputTitle.zipCode"></client-field>
<client-field field-value="clientData.message" field-title="inputTitle.message"></client-field>
